{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to Our Website</h1>
    <p>This blog app is developed by Avisek. I am a passionate web developer and tech enthusiast who enjoys building intuitive and efficient applications. With experience in frontend and backend technologies, I strive to create user-friendly and functional web solutions.</p>
    <p>Explore a wide range of topics, from lifestyle tips to the latest trends, and find content that inspires and informs you.</p>
</div>
{% endblock %}
